@charset "UFT-8";
@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 221, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    background-image: linear-gradient(to bottom , rgb(39, 236, 98), rgb(18, 92, 42));
    margin: -10px;
    padding: 10px;
    color: white;
}

header > h1  {
    text-align: center;
}
nav > a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

nav > a:hover {
    text-decoration:underline;
}

strong {
    color: rgb(7, 110, 7);
}

h2 {
    font-family:idroid ;
    color: rgb(7, 87, 7);
    padding: 20px ;
    margin: 0;
}

h3 {
    color: white;
}
#p-cabeçalho {
    text-align: center;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

p {
    text-indent: 30px;
    text-align: justify; 
    padding: 10px;
    margin: 0px;
}

img {
    width: 100%;
}

iframe {
    display: block;
    margin: auto;
    padding: 15px;
}
div#video {
    background-color: rgb(1, 43, 1);;
    margin: -15px;
}

#paragrago-android {
    margin-bottom: 20px;
}

.links {
    color: rgb(8, 156, 8);
    text-decoration: none;
}

section {
    background-color: rgb(171, 245, 171);
    padding: 15px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

section > h3 {
    background-color: green;
    margin: -15px;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}

section > p {
    margin: 15px auto auto auto;
}

label > ul{
    display: inline-block;
    margin-right: 70px;
}

footer {
    background-color: rgb(34, 175, 34);
    margin: -15px;
    text-align: center;
    text-indent: 20px;
}